/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, var(--primary), var(--secondary), var(--primary));
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo:hover ~ .navbar-links {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

.navbar-logo a {
    color: var(--titlecolor);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--navtitlefont);
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar-links li {
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-links a {
    color: var(--navlinks);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    transition: all 1s ease;
    font-family: var(--navlinksfont);
}

/* Link Hover Effects */
.navbar-links a:hover {
    background: rgba(13, 27, 84, 0.2);
    color: #ffffff;
}

.navbar-links a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    
    .navbar-links {
        flex-direction: column;
        gap: 1rem;
    }
}
